'global':
  'exception-reporting':
    'userId': 'd698a89d-89b9-c20b-b232-669c52828d46'
  'release-notes':
    'viewedVersion': '0.95.0'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '865712ba16f79f86ee498dd9d920565180eb4284'
  'markdown-preview':
    'breakOnSingleNewline': true
  'remember-window':
    'y': 203
    'width': 958
    'height': 877
    'x': 590
  'autosave':
    'enabled': true
  'autocomplete-plus':
    'enableAutoActivation': false
